{% extends "app/layout.html" %}

{% block content %}

<h2 class="text-center">Doe</h2>
<div class="row">
    <div class="col-sm-6">
        <p>
            Sou um parágrafo. Clique aqui para me editar e adicionar seu texto. É fácil! Basta clicar em "Editar Texto"
            ou clicar duas vezes sobre mim e você poderá adicionar seu conteúdo e trocar fontes. Você pode arrastar e
            soltar-me em qualquer lugar de sua página. Sou um ótimo lugar para contar sua história e permitir que seus
            clientes saibam um pouco mais sobre você.

            Este é um ótimo espaço para escrever um texto longo sobre sua empresa e seus serviços.
            Você pode usar este espaço para entrar em detalhes sobre sua empresa.
        </p>
    </div>
    <div class="col-sm-6">
        <p>
            Sou um parágrafo. Clique aqui para me editar e adicionar seu texto. É fácil! Basta clicar em "Editar Texto"
            ou clicar duas vezes sobre mim e você poderá adicionar seu conteúdo e trocar fontes. Você pode arrastar e
            soltar-me em qualquer lugar de sua página. Sou um ótimo lugar para contar sua história e permitir que seus
            clientes saibam um pouco mais sobre você.

            Este é um ótimo espaço para escrever um texto longo sobre sua empresa e seus serviços.
            Você pode usar este espaço para entrar em detalhes sobre sua empresa.
        </p>
    </div>
</div>
<div class="row">
    <div class="col-sm-offset-4 col-sm-4 col-md-offset-3 col-md-6">
        <div class="donate-box">
            <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
            <h3>AGRADECEMOS SUA DOAÇÃO</h3>
        </div>
    </div>
</div>
{% endblock %}