@import url(http://fonts.googleapis.com/css?family=Nunito);
* {
  font-family: 'Nunito', sans-serif;
}
a {
  color: #ffffff;
}
a:hover,
a:focus {
  color: #f1c40f;
}
.navbar-default {
  border-radius: 0;
  border: none;
  background-color: #f39c12;
  border-color: #e67e22;
}
.navbar-default .navbar-brand {
  color: #ffffff;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #f1c40f;
}
.navbar-default .navbar-text {
  color: #ffffff;
}
.navbar-default .navbar-nav > li > a {
  color: #ffffff;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #f1c40f;
  background-color: #e67e22;
  transition: all ease-in-out 0.3s;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #f1c40f;
  background-color: #e67e22;
  transition: all ease-in-out 0.3s;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #f1c40f;
  background-color: #e67e22;
  transition: all ease-in-out 0.3s;
}
.navbar-default .navbar-toggle {
  border-color: #e67e22;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #e67e22;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #ffffff;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #ffffff;
}
.navbar-default .navbar-link {
  color: #ffffff;
}
.navbar-default .navbar-link:hover {
  color: #f1c40f;
}
@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #ffffff;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #f1c40f;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #f1c40f;
    background-color: #e67e22;
  }
}
.main-link {
  color: #ffffff;
  text-align: center;
  background: #f39c12;
  border-right: 1px solid #ffffff;
  display: inline-block;
}
.main-link-list {
  margin-top: 20px;
  margin-bottom: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  background: #f39c12;
}
@media (max-width: 751px) {
  .main-link {
    width: 100%;
  }
}
@media (min-width: 752px) and (max-width: 767px) {
  .main-link {
    width: 49.71%;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  .main-link {
    width: 24.56379%;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .main-link {
    width: 24.66589%;
  }
}
@media (min-width: 1200px) {
  .main-link {
    width: 24.7245%;
  }
}
.main-link:last-child {
  border-right: none;
}
.main-link a:after,
.main-link a:before {
  content: "|";
}
.main-link .glyphicon {
  font-size: 24pt;
}
.project-list-empty {
  text-align: center;
  font-size: 18px;
}
.project-item-img {
  max-width: 160px;
  max-height: 160px;
}
@media (max-width: 767px) {
  .project-item-img {
    margin-left: auto;
    margin-right: auto;
  }
}
@media (min-width: 768px) {
  .project-item-img {
    margin-top: 20%;
  }
}
.footer {
  margin-top: 30px;
  background-color: #f39c12;
  color: #ffffff;
  padding: 20px;
}
.footer .address {
  display: inline-table;
  margin-left: 25px;
}
.get-involded-header {
  text-align: center;
  color: #ffffff;
}
.get-involded-item {
  background: #f39c12;
  padding: 20px;
  color: #ffffff;
  height: 570px;
}
.get-involded-img {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  border-radius: 2px;
}
h1 {
  text-align: center;
}
.donate-box {
  text-align: center;
  background: #f39c12;
  padding-top: 10px;
  padding-bottom: 10px;
}
.donate-box .glyphicon {
  font-size: 24pt;
}
/*# sourceMappingURL=site.css.map */